<div>
	<div class="window share windows-vis parentwindow">
	<%= JST['toolbar']({name: chatname}) %>

		<div id='<%= chatname %>' class='chatwindow'>
			<div style="margin: 5px; padding: 2px">
			<ul>
				<% _(CA.chats[chatname]['messages']).each(function(message){ %>
				  <li><%= message %></li>
				<% }); %>
			</ul>
			</div>
			<input id="<%= chatname %>-input" type='text' placeholder='enter message' data-target='<%= chatname %>'>
			</input>
		</div>
	</div>
</div>